* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, rgb(102, 255, 0) 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, rgb(255, 123, 0) 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, rgb(149, 255, 0) 100%);

}


a{
    text-decoration: none;
}

#quiz{
    display:none;
}
#result{

    display: none;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/sport.png');
    background-color: lightblue;
    width: 80%;
    height: 80%;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 20px green;   
}
.wrapper{

    width: 60%;
    height: 70%;

}


#login{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login input {
    margin-right: 10px;
    width: 50%;
    height: 30px;
    border: none;
    box-shadow: 0 0 5px black;

}
#login button{

    width: 15%;
    height: 30px;
    border: none;
    box-shadow: 0 0 5px black;
    
}



#quiz,#login, .feedback,#results,#previousScores,#hed{

width:100%;
background-color: rgb(255, 230, 0);
text-align: center;   
}



#quiz{
    background-color: white;
    border: 4px solid lightgreen;
    height: 50%;     
}
.quizContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question{
    font-size: 1.8em;
    text-align: center;
}

.answers{
    
    width: 60%;
    text-align: left;
    font-size: 1.2em;
}

.answers input{
    margin-bottom: 10px;
    margin-right: 10px;
}






#previousScores{

    overflow: scrolll;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;



}

.feedback{

    display: none;
    height: 10%;
}