* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);

}


a{
    text-decoration: none;
}

#quiz{
    display:none;
}
#result{

    display: none;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/sport.png');

    background-color: lightblue;
        width: 80%;
    height: 80%;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 20px green;   
}

